body {
    margin: 0 auto;
    background-color: lightgrey;
    max-width: 1024px;
    font-size: 120%;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

header {
    background-color: white;
    font-size: 100%;
    text-align: left;
    padding: 8px;
}
header a {
    color: white;
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {float: left;}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover:not(.active) {background-color:  #d5dbdb;}

@media screen and (max-width: 600px){
    nav ul li {float: none;}
}
main {
    background-color:   #b3b6b7;
    padding: 10px;
    color: white;
}
footer {
    background-color: black;
    color: white;
    font-size: 80%;
    text-align: center;
    padding: 4px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h4, header {
font-weight: 700;
}
